@media only screen and (max-width: 600px) {
    .navbar {
        color: #ddd;
        background-color: #3B5998;
    }
    .parax {
        height: 1500px;
        margin: 0;
        padding: 0;
    }
    .sharer {
        display: flex;
        position: relative;
        width: 80px;
        height: 180px;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
        background-color: #fff;
        font-size: 28px;
    }
    .sociaux {
        margin: -12px auto 0;
        width: 100%;
        height: 500px;
    }
    .cust-caption {
        display: none;
        position: absolute;
        background-color: rgba(30, 30, 30, 0.8);
        padding: 10px;
        color: #ddd;
        margin: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70%;
        margin: 5px;
        overflow-y: auto;
    }
    .iPortfolio {
        height: 100%;
        width: 100%;
    }
    .portfolios {
        height: 100%;
    }
    .Ivaleurs {
        width: 50%;
        height: 100%;
    }
    .divService {
        height: 100%;
    }
    .fa-facebook {
        color: #3B5998;
        font-size: .44em;
    }
    .fa-twitter {
        color: #00ACED;
        font-size: .44em;
    }
    .fa-pinterest-p {
        color: #C92228;
        font-size: .45em;
    }
    #about {
        height: 100%;
    }
}